.chinese-ocr-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.chinese-ocr-overlay span {
  pointer-events: auto;
  color: #39ff14;
  position: absolute;
}
